@import "../../styles/colors.scss";
.title {
  color: $black;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  width: 100%;
  margin: auto;
}

